/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	background:#ffffff;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;
	line-height:26px;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'PT Serif', serif;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],input[type="reset"],a{
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition:0.5s ease-in;
}
img{
	width:100%;
}

/*--Banner stats here--*/
/*--header start here--*/
.nav > li > a {
    position: relative;
    display: block;
}
nav.navbar.navbar-default.navbar-fixed-top {
	    position: absolute;
		    border: none;
background-color:rgba(255, 255, 255, 0.27);
}
.navbar-nav {
    float:none; 
    margin: 0;
}
.navbar-nav > li {
    text-align: center;
	width:16.6%;
}
div#navbar {
    padding: 0px ;
}
ul.nav.navbar-nav li a {
    font-size:17px;
    color: #fff;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
	padding: 20px 0px;
		    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
ul.nav.navbar-nav li a:hover, .navbar-default .navbar-nav > li > a:focus {
	   border-bottom:2px solid #f14156;
    color: #fff;
		transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: rgba(231, 231, 231, 0);
    border-bottom: 2px solid #f14156;
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.navbar-fixed-top {
    top: 93px;
}
ul.dropdown-menu {
    top: 101%;
    background: rgba(21, 29, 37, 0.77);
    border: none;
    text-align: center;
}
.dropdown-menu > li > a {
   padding: 8px 0px ! important;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a.active {
    text-decoration: none;
    background: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: rgba(231, 231, 231, 0);
}
/*--end nav bar--*/
.w3-agile-logo {
    padding: 1em 2em;
    background: rgba(2, 2, 2, 0.51);
}
.head-wl {
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 0 auto;
}
.headder-w3,.w3-header-top-right-text,.email-right,.agileinfo-social-grids {
    -webkit-flex:1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
}

.head-wl h1 a {
    text-transform: capitalize;
    color: #f14156;
    font-size: 50px;
    display: block;
    letter-spacing: 5px;
}

h6.caption {
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    margin: 4px 0px 9px;
}

.email-right p a,
.w3-header-top-right-text p,
.agileinfo-social-grids ul li a {
    font-size: 14px;
    color:#f14156;
    letter-spacing: 2px;
}

.email-right p a,
.agileinfo-social-grids ul li {
    display: inline-block;
}

.agileinfo-social-grids ul li a {
    text-align: center;
}

.agileinfo-social-grids ul li:nth-child(2),
.agileinfo-social-grids ul li:nth-child(3) {
    margin: 0px 4px;
}

.email-right p a:hover,
.agileinfo-social-grids ul li a :hover {
    color: #fff;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*-- banner--*/
.navbar {
    margin-bottom: 0em;
}

.w3l-info {
    margin-top: 20em;
}

.w3l-info h4 {
    font-size: 63px;
    color: #ffffff;
    font-weight: 600;
}

.w3l-info p {
    font-size: 16px;
    letter-spacing: 1px;
    color: #e6e6e6;
    padding: 0px 19em;
    line-height: 2em;
    text-align: center;
    margin: 1.5em 0;
}

.w3layouts_more-buttn a {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background: rgb(0, 0, 0);
    outline: none;
    padding: 10px 22px;
    border: 2px solid rgb(0, 0, 0);
}

.w3layouts_more-buttn a:hover {
    background: #fff;
    color: #000;
}
/*-- //banner --*/
/*--header end here--*/
.baner {
    background: url(../images/b3.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 350px;
}

/*-- banner-text--*/
.banner-text h2 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 0px;
}
.banner-text {
    text-align: center;
    padding: 17em 0 0 0;
}
.banner-text h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 2px;
}
.banner-text span {
    display: block;
    line-height: 1.8em;
    font-style: italic;
    font-weight: 400;
}
.baner-info{
   position: absolute;
    padding-top:4em;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    top: 0;
}
.baner-info h3 {
       text-align: center;
    font-size: 3.5em;
    color: #fff;
    font-weight: 600;
    letter-spacing: 4px;
}
.baner-info h3 span {
	color:#fbcd13;
}
.baner-info h4{
    text-align: center;
    font-size: 1em;
       margin: 2em 0 2em 0;
    font-weight:500;
    letter-spacing: 10px;
    color: #ffcc33;
    padding: 15px 0;
}
.w3-banner-head-info {
    position: relative;
}
.baner-info p {
	font-size: 1em;
    font-weight: 300;
    letter-spacing:2px;
    color: #fff;
    width: 32%;
    margin: 0 auto;
}
span.simply-word {
    font-size:18px;
    font-weight: 500;
    margin-left: 5px;
    text-transform: uppercase;
    color: #02a388;
}
.baner-info span img {
    margin: 1em auto 0;
    text-align: center;
}
.baner-w3l-agile-grids-bottom {
       margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 12%;
    bottom: -62%;
    width: 80%;
}
.w3l-b-grid{
	float:left;
	width:32%;
}
.w3l-b-one{
      background:url(../images/b1.jpg) no-repeat 0px 0px;
    min-height:100px;
    background-size: cover;
    text-align: center;
	    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
	}
.w3l-b-grid .w3l-b-one:hover{
	  min-height:200px;
}
/*-- //banner-text--*/
/* About */
.about-3 {
    padding: 5em 0;
}
h3.center {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-shadow: 0 2px 2px rgba(0,0,0,.6);
	    letter-spacing: 2px;
}
h3.center:after {
    border-top: 2px solid #FF5722;
    display: block;
    width: 100px;
    content: "";
    margin: 10px auto 0;
}
.d-flex {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about1, .about2 {
    flex: 1;
	  -ms-flex: 1;
}
.about1 {
    padding-right: 46px;
}
.about1 h4 {
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: #0e51aa;
}
.about1 h5 {
    color: #f14156;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.8em;
    font-style: italic;
}
.about-3 p {
    font-size: 14px;
    color: #777;
    line-height: 1.8em;
    margin: 2em 0;
}
ul.about-list li {
    margin: 20px 0px;
    display: block;
}
ul.about-list li span.fa {
    font-size: 50px;
	    height: 80px;
    width: 80px;
    vertical-align: top;
	color: #08f3d4;
}
.in-block {
    display: inline-block;
    width: calc( 100% - 100px);
}
.in-block h5 {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: #191826;
}
.about2 {
    background: url(../images/b2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}
a.join-wthree {
    color: #fff;
    display: inline-block;
    letter-spacing: 1px;
    font-size: 17px;
    background: #f14156;
    padding: 12px 30px;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 30px;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    transition: .5s ease-in;
}
a.join-wthree:hover {
    background: #000;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    transition: .5s ease-in;
}

/* //About */
.heading-agileinfo {
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 40px;
    margin-bottom: 2.5em;
    text-align: center;
    color: #f14156;
    text-transform: uppercase;
    position: relative;
    margin-top: 0;
}
.heading-agileinfo span {
    display: block;
    font-size: 17px!important;
    margin-top: 1em;
    letter-spacing: 4px;
    text-transform: capitalize;
    color: #000000;
    font-weight: 500;
}
.heading-agileinfo span:after {
    content: '';
    background: #212121;
    height: 2px;
    width: 70px;
    position: absolute;
    top: 132%;
    right: 47%;
}
span.nnn {
    color: #fff;
}
/*-- syllabus section --*/
.pa_italic i {
    right: -1em;
    font-size: 18px;
    color: #f14156;
}
.pa_italic span {
    display: none;
}
.collapsed span {
    display: inline-block;
    right: -1em;
	font-size: 18px;
}
.collapsed i {
    display: none;
}
.panel-heading {
    padding: 16px 31px;
}
.panel-title > a {
   color: #000;
    font-size: 25px;
    line-height: 68px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}
.panel-default {
    border-color: rgba(0, 0, 0, 0);
    background: rgba(246, 246, 246, 0.01);
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
}
.panel-body {
    padding: 2em;
    font-size: 14px;
    line-height: 2em;
    color: #555;
    background: #fff;
}
a.pa_italic label {
    cursor: pointer;
	font-weight:500;
}
a.pa_italic:focus {
    outline: none;
    text-decoration: none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}
.panel-heading {
    border-radius:0px!important;
}
.panel-body.panel_text h3 {
    color: #333;
    font-size: 23px;
    letter-spacing: 1px;
    margin-bottom: 11px;
}
.panel-body.panel_text p {
    font-size:15px;
}
.panel-body.panel_text h6 {
    font-size: 17px;
    letter-spacing: 1px;
    text-decoration: underline;
    margin: 20px 0 12px;
    color: #333;
}
.panel-body.panel_text ul li {
    letter-spacing: 1px;
    font-size: 15px;
    list-style: inside;
    color: #424242;
}
/* video button */
a.mbutton-course2 {
    color: #ff3546;
    border: none;
    outline: none;
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
a.mbutton-course2:hover {
    color: #f14156;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
a.mbutton-course2 i{
    margin-right:8px;
}
/* //video button */
p.white-clrf {
    color: #2d2d2d;
    font-size: 15px;
	line-height:1.8em;
    letter-spacing: 1px;
}
.wthree-subscribef-w3ls {
    background: url(../images/ban1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
	background-attachment:fixed;
	padding:5em 0;
}
.wthree-subscribef-w3ls h3.tittlef-agileits-w3layouts {
    text-align: left;
    font-size: 2.7em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
    color: #f14156;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 1em;
}
.footer_w3layouts_gridf_right {
    width: 70%;
    margin-top: 1em;
}
.wthree-subscribef-w3ls input[type="email"] {
	outline: none;
	padding: 13px;
	background: #fff;
	font-size: 0.9em;
	color: #888;
	width: 65%;
	border: none;
	letter-spacing: 1px;
	float: left;
}

.wthree-subscribef-w3ls input[type="email"]::-webkit-input-placeholder {
	color: #999!important;
}

.wthree-subscribef-w3ls input[type="submit"] {
    outline: none;
    padding: 10.5px 0;
    background: #f14156;
    font-size: 1.1em;
    font-weight: 400;
    color: #fff;
    border: none;
    text-transform: capitalize;
    letter-spacing: 4px;
    width: 35%;
    float: left;
}

.wthree-subscribef-w3ls input[type="submit"]:hover {
	background: #ee4f4f;
}
/*-- wthree-mid --*/
.wthree-mid {
    background: url(../images/b1.jpg) no-repeat 0px 0px;
    background-size: cover;
	padding:5em 0;
	text-align:left;
	background-attachment:fixed;
}
.wthree-mid h3 {
    font-size: 34px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}
.wthree-mid p {
    color: #ffffff;
    text-align:left;
    line-height: 28px;
    width: 63%;
    margin: 30px 0 0;
    font-size: 17px;
    padding: 20px 0;
    border-top: 1px solid #8d8d8d;
}
/*-- //wthree-mid --*/
/*-- pricing --*/
.wthree-pricing h3.agileits-title, .wthree-pricing h3.agileits-title span {
    color: #fff;
}
.wthree-pricing {
    background: url(../images/ban2.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
	background-attachment:fixed;
    padding: 5em 0;
}
.pricing-grids-info {
    text-align: center;
}
.pricing-grid {
    float: left;
    width: 31%;
}
.pricing-grid.grid-two {
    margin: 0 2em;
}
.pricing-grid.grid-three {
    margin: 0 2em 0 0;
}
.pricing-grid h3 {
    font-size: 1.6em;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
    text-align: center;
}
.pricing-grid h4 {
    font-size: 2.3em;
    font-weight: 500;
    color: #f14156;
    position: relative;
    margin-top: 1em;
    text-align: center;
}
.pricing-grid h4 span.sup {
    vertical-align: text-top;
    font-size: 0.5em;
}
.pricing-grid {
    float: left;
    width: 22.8%;
    background: #fff;
    padding: 1em 1em 2em;
}
.w3ls-top {
    position: relative;
    color: #000;
    margin: 0 auto;
    font-size: 1.2em;
    text-align: left;
    text-transform: uppercase;
    padding: 1em 0em;
    border-radius: 5px 5px 0;
    border-bottom: 2px solid #f14156;
}
.w3ls-bottom {
    padding: 0;
}
.w3ls-bottom ul li {
    font-size: 15px;
    color: #777;
    margin-top: 1em;
    letter-spacing: 1px;
    padding-top: 1em;
    line-height: 1.8em;
    display: block;
}
.more a {
    display: inline-block;
    font-size: 1em;
	color:#fff;
    background:#f14156;
    padding: .5em 3em;
    margin-top: 1.2em;
    border-radius: 4px;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	transition:.5s all; 
}  
.more a:hover {
    opacity: .7;
}        
/*-- //pricing --*/
.mwho-we-textmks {
    padding: 1em 0 5em 10em;
}
.donails {
    padding: 5em 0 0;
}
.donail_left {
    background: url(../images/1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 512px;
}
/*-- clients--*/
.clients{
	padding:5em 0;
}
.clients label.line{
	background:#000;
}
.clients h4 {
	font-size: 16px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#000;
	margin-bottom:35px;
}

.flex-active-slide p {
    line-height: 30px;
    text-align: center;
    color: #777;
    font-style: italic;
    width: 70%;
    margin: 30px auto;
	letter-spacing:2px;
	font-size:15px;
}

.client h5 {
    font-size: 25px;
    color: #f14156;
    text-align: center;
}
/*-- //clients--*/

.panel-default > .panel-heading {
    color: #333;
    background-color: rgba(245, 245, 245, 0);
    border-color: rgba(221, 221, 221, 0);
}
/*-- footer --*/

.footer_top_agileits {
	background: #141415;
	padding: 4em 0;
}

.footer_bottom1 a {
	display: inline-block;
}
.footer_w3ls {
    background: #0f0f10;
    text-align: center;
    padding: 1em 0;
}
ul.tag2:last-child {
	margin: 0;
}

.footer_bottom_grid:nth-child(2) {
	float: right;
	text-align: right;
}

.footer_bottom {
	padding: 2em 0;
}

.index-copy-right {
	background: transparent;
}

.footer_bottom h6 {
	color: #ffffff;
	font-size: 1.4em;
	letter-spacing: 1px;
	margin-bottom: 1em;
	text-transform: uppercase;
	font-weight: 700;
}

.footer_bottom1 p {
	color: #fff;
	font-size: 14px;
	letter-spacing: 2px;
	margin-top: 0em;
}

.footer_bottom1 p a {
	color: #f14156;
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}

.footer_bottom1 p a:hover {
	color: #fff;
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}

.social ul {
	padding: 0;
	margin: 0;
}

.social ul li {
	display: inline-block;
}

.social ul li a {
	color: #333;
	text-align: center;
}

.social ul li a i.fa.fa-facebook {
	height: 32px;
	width: 32px;
	line-height: 32px;
	background: #FFFFFF;
	color: #3b5998;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.social ul li a i.fa.fa-facebook:hover {
	height: 32px;
	width: 32px;
	line-height: 32px;
	background: #3b5998;
	color: #FFFFFF;
}

.social ul li a i.fa.fa-twitter {
	height: 32px;
	width: 32px;
	line-height: 32px;
	background: #FFFFFF;
	color: #1da1f2;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.social ul li a i.fa.fa-twitter:hover {
	height: 32px;
	width: 32px;
	line-height: 32px;
	background: #1da1f2;
	color: #FFFFFF;
}

.social ul li a i.fa.fa-rss {
	height: 32px;
	width: 32px;
	line-height: 32px;
	background: #FFFFFF;
	color: #f26522;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.social ul li a i.fa.fa-rss:hover {
	height: 32px;
	width: 32px;
	line-height: 32px;
	background: #f26522;
	color: #FFFFFF;
}

.footer_bottom1 label {
	color: #f14156;
	display: block;
	font-size: 0.3em;
	letter-spacing: 3px;
}

.footer_bottom1 h2 {
	font-size: 2.2em;
	text-transform: uppercase;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
	color: #fff;
	font-weight: 700;
}

.footer_grid h3, .footer_grid_left h3 {
    font-size: 1.5em;
    color: #fff;
    position: relative;
    margin-bottom: 1.5em;
    font-weight: 600;
    letter-spacing: 1px;
}

.footer_grid_left h3 {
	margin: 0;
}

.footer_grid p {
	color: #8b8b96;
	line-height: 2em;
	margin-bottom: 2em;
}

.footer_grid_list li,
.address li {
	display: block;
	margin-bottom: 1em;
}

.footer_grid_list li i {
	color: #f14156;
	padding-right: 1em;
}

.footer_grid_list li a {
	color: #8b8b96;
	text-decoration: none;
	line-height: 1.5em;
	letter-spacing: 1px;
	font-size: 0.9em;
}

.footer_grid_list li a:hover {
	color: #fff;
}

.footer_grid_list li:last-child,
.address li:last-child {
	margin-bottom: 0;
}

.address li {
	color: #8b8b96;
}

.address li i {
	margin-right: 1.5em;
	color: #fff;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 30px;
	border: 1px solid #4b4b50;
}

.address li span {
	display: block;
	margin-left: 4em;
	letter-spacing: 1px;
	font-size: 0.9em;
}

.address li a {
	color: #a8aeb3;
	text-decoration: none;
}

.address li a:hover {
	color: #fff;
	text-decoration: none;
}

ul.social-icons3.two li a {
	text-align: center;
}
/*-- //footer --*/
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
    font-size: 28px;
    color: #f14156 !important;
    margin: 30px 0 15px;
    font-weight: 700;
    letter-spacing: 2px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 33px;
    color: #222222;
    font-weight: 700;
    letter-spacing: 2px;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
	    color: #777;
}
@media (max-width:991px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
}
@media (max-width:768px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}
@media (max-width: 640px){
	.icon-box {
		float: left;
		width: 50%;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.icon-box {
		float: none;
		width: 100%;
	}
}
/*-- //icons --*/
.w3_wthree_agileits_icons.main-grid-border {
    padding: 5em 0;
}
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: 1em;
    color: #f14156;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #fb5710;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:640px){
h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: .5em;
}
.progress {
	height: 10px;
	margin-bottom: 10px;
}
ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
	font-size: 14px;
}
.breadcrumb {
	margin-bottom: 25px;
}
.well {
	font-size: 14px;
	margin-bottom: 10px;
}
h2.typoh2 {
	font-size: 1.5em;
}
.label {
	font-size: 60%;
}
.in-gp-tl {
	padding: 0 1em;
}
.in-gp-tb {
	padding-right: 1em;
}
}
@media (max-width:480px){
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	font-size: 1.2em;
}
.table h1 {
	font-size: 26px;
}
.table h2 {
	font-size: 23px;
	}
.table h3 {
	font-size: 20px;
}
.label {
	font-size: 53%;
}
.alert,p {
	font-size: 14px;
}
.pagination {
	margin: 20px 0 0px;
}
.grid_3.grid_4.w3layouts {
	margin-top: 25px;
}
}
@media (max-width: 320px){
.grid_4 {
	margin-top: 18px;
}
h3.title {
	font-size: 1.6em;
}
.alert {
	padding: 10px;
	margin-bottom: 10px;
}
ul.pagination li a {
	font-size: 14px;
	padding: 5px 11px;
}
.list-group {
	margin-bottom: 10px;
}
.well {
	padding: 10px;
}
.nav > li > a {
	font-size: 14px;
}
table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
}
}
/*-- //typography --*/
.typo {
    padding: 5em 0;
}
/*--contact--*/

.contact-text {
	background: url(../images/banner5.jpg) no-repeat 0px 0px;
	min-height: 450px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	text-align: center;
}

.contact-top {
	padding: 6em 0;
}

.con-text {
	padding-top: 8em;
}

.con-text p,
.con-text p a {
	color: #fff;
	font-size: 3em;
	font-weight: 300;
	margin-bottom: 0.5em;
}

.con-text p a {
	color: #f5f9fb;
	font-size: 0.4em;
	letter-spacing: 2px;
}

.con-text p {
	line-height: 0.9em;
}

.con-text i {
	font-size: 0.9em;
}

.con-text h6 {
	color: #fff;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1em;
	letter-spacing: 3px;
	margin-top: 1.5em;
}

.contact-form {
	position: relative;
	margin-top: 3em;
}

.left_form {
	float: left;
	width: 48%;
}

.right_form {
	float: left;
	width: 48%;
	margin-left: 3.8%;
}

.contact-form div {
	padding: 5px 0;
}

.contact-form span label {
	display: block;
	font-size: 0.9em;
	color: #555;
	padding-bottom: 5px;
	font-weight: 600;
	margin: 0.5em 0;
	letter-spacing: 1px;
}

.contact-form input[type="text"],
.contact-form textarea {
	padding: 16px 15px;
	display: block;
	width: 100%;
	background: none;
	border: none;
	outline: none;
	color: #464646;
	font-size: 1em;
	box-shadow: inset 0px 0px 3px #999;
	-webkit-box-shadow: inset 0px 0px 3px #999;
	-moz-box-shadow: inset 0px 0px 3px #999;
	-o-box-shadow: inset 0px 0px 3px #999;
	-webkit-appearance: none;
	font-family: 'Source Sans Pro', sans-serif;
}

.contact-form textarea {
	resize: none;
	height: 197px;
}

.myButton {
	background: #f14156;
	color: #fff;
	font-size: 1em;
	padding: 17px 0;
	border: none;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-appearance: none;
	float: right;
	text-transform: uppercase;
	font-weight: 600;
	width: 100%;
}

.myButton:hover {
	background: #212121;
}

.company_address {
	float: left;
	width: 25%;
}

.company_address p {
	display: block;
	font-size: 1em;
	color: #686868;
	padding-bottom: 5px;
	font-weight: 400;
	padding: 5px 0;
}

.company_address p span a {
	text-decoration: underline;
	color: #555;
}

.company_address p span a:hover {
	text-decoration: none;
	color: #ff0000;
}

.contact_info {
	float: right;
	width: 70%;
	margin-left: 5%;
}

.map_w3layouts_agile iframe {
	width: 100%;
	min-height: 400px;
	border: none;
	padding: 2em;
	background: #ececee;
}
.banner-bottom {
    padding: 5em 0;
}
/*-- Contact-ends-here --*/
/*-- gallery --*/
.w3ls_gallery_grids{
	padding-top:0em;
}
.agile_gallery_grid{
	margin-bottom:2em;
}
.agile_gallery_grid1{
    position: relative;
}
.w3layouts_gallery_grid1_pos{
    background:#f14156;
    bottom: 45px;
    left: 45px;
    opacity: 0;
    padding:1em;
    position: absolute;
    right: 45px;
    text-align: center;
    top: 45px;
    visibility: hidden;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.w3layouts_gallery_grid1_pos h3{
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 1em 0 .5em;
    padding-bottom: .5em;
    position: relative;
    text-transform: uppercase;
    color: #212121;
}
.w3layouts_gallery_grid1_pos p{
	color: #fff;
	line-height:2em;
	letter-spacing:1px;
}
.agile_gallery_grid:hover .w3layouts_gallery_grid1_pos{
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
	-moz-transform: scaleX(1);
	-o-transform: scaleX(1);
	-ms-transform: scaleX(1);
}
.banner-bottom.gallery{
	padding:5em 0;
}
p.quia {
        font-size: 1.2em;
    color: #140b05;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
/*-- //gallery --*/
.about-top p {
    font-size: 1em;
    color:#777676;
    width: 50%;
    line-height: 1.8em;
    margin: 0 auto;
}
.about-agile {
    background: url(../images/banner2.jpg)no-repeat;
    background-attachment: fixed;
    background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	text-align: center;
	padding:5em 0;
}
.about-bottom.inner-padding {
    padding: 5em 0;
}
.team {
    padding: 5em 0;
}
.about-layer1 {
    padding-bottom: 5em;
}
.about-agile p {
    font-size: 1em;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    margin: 1em auto 0em;
    line-height: 1.8em;
}
.about-bott-right {
    text-align: center;
}
.about-bott-right h5 {
    color: #f14156;
    font-size: 24px;
    margin-bottom: 0.7em;
    font-weight: bold;
    letter-spacing: 2px;
}
.about-bott-right p {
    font-size: 17px;
    color: #777;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 600;
}
/*--//inner About --*/
/*-- team --*/
.agile_team_grid h4{
	font-size:1.5em;
	color:#000;
	margin:1em 0 .5em;
/*-- agileits --*/
}
.agile_team_grid p {
    color: #f14156;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 600;
}
.agile_team_grid {
    text-align: center;
}
.view {
    margin: 0;
    float: none;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.view,.view .mask,.view .content{
	width: 255px;
    height: 255px;
}
.view .mask,.view .content {
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h5 {
	text-transform: capitalize;
    color:#f14156;
    text-align: center;
    position: relative;
    font-size: 1.7em;
    margin:2.5em 0 .5em;
}
.view p {
    /* font-style: italic; */
    line-height: 1.8em;
    font-size: 15px;
    position: relative;
    color: #fff;
    padding: 0px 20px 20px;
    text-align: center;
}
.view-sixth img {
    -webkit-transition: all 0.4s ease-in-out 0.5s;
    -moz-transition: all 0.4s ease-in-out 0.5s;
    -o-transition: all 0.4s ease-in-out 0.5s;
    -ms-transition: all 0.4s ease-in-out 0.5s;
    transition: all 0.4s ease-in-out 0.5s;
    width: 100%;
}
.view-sixth .mask {
   background-color:rgba(34, 33, 33, 0.54);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-in 0.4s;
   -moz-transition: all 0.3s ease-in 0.4s;
   -o-transition: all 0.3s ease-in 0.4s;
   -ms-transition: all 0.3s ease-in 0.4s;
   transition: all 0.3s ease-in 0.4s;
}
.view-sixth h5 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background: transparent;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.2s;
   -moz-transition: all 0.3s ease-in-out 0.2s;
   -o-transition: all 0.3s ease-in-out 0.2s;
   -ms-transition: all 0.3s ease-in-out 0.2s;
   transition: all 0.3s ease-in-out 0.2s;
}
.agile_team_grid:hover .view-sixth .mask,.view-sixth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.agile_team_grid:hover .view-sixth img,.view-sixth:hover img {
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.agile_team_grid:hover .view-sixth h5,.view-sixth:hover h5 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.agile_team_grid:hover .view-sixth p,.view-sixth:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
.view-sixth .agileits_social_icons{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.agile_team_grid:hover .view-sixth .agileits_social_icons,.view-sixth:hover .agileits_social_icons{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.3s;
   -moz-transition-delay: 0.3s;
   -o-transition-delay: 0.3s;
   -ms-transition-delay: 0.3s;
   transition-delay: 0.3s;
}
.social_agileinfo li {
    display: inline-block;
}

.social_agileinfo li a {
    width: 40px;
    height: 40px;
    display: block;
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
}

.social_agileinfo li a i {
    font-size: 1em;
    line-height: 2.8em;
}

.w3_facebook:hover {
    border: 1px solid #3b5998;
    background: #3b5998;
}

.w3_twitter:hover {
    border: 1px solid #1da1f2;
    background: #1da1f2;
}

.w3_instagram:hover {
    border: 1px solid #833ab4;
    background: #833ab4;
}

.w3_google:hover {
    border: 1px solid #dd4b39;
    background: #dd4b39;
}

/*-- //team --*/
.wthree-top-grid h4 {
    color: #f14156;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 1.5em;
    margin: 10px 0;
    font-weight: 600;
    letter-spacing: 1px;
}
.wthree-top-grid p {
    color: #777;
    font-size: 15px;
    line-height: 28px;
    margin: 0;
}
.agileits-about-top {
    padding: 5em 0 3em;
}
.wthree-top-grid {
    margin-bottom: 2em;
}
.modal-header {
    font-size: 2em;
    color:#f14156;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #fff;
    font-weight: 600;
    letter-spacing: 4px;
	font-family: 'PT Serif', serif;
}
button.close {
    font-size: 1.5em;
    color: #000;
    outline: none;
}
.modal-body p {
    color: #999;
    text-align: left;
    padding: 2em 2em 1em;
    margin: 0 !important;
    line-height: 2em;
    font-size: 14px;
}
.modal-body p i {
    display: block;
    margin: 1em 0;
    color: #212121;
}
/*-- to-top --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    border-radius: 50%;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
    background: url(../images/arrow.png) no-repeat 4px 4px #f14156;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/* Responsive design */
@media screen and (max-width: 1920px){
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 52em;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		padding-top: 65px;
	}
}
@media screen and (max-width: 1680px){
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 43em;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		padding-top: 55px;
	}
}
@media screen and (max-width: 1600px){
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 41em;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		padding-top: 50px;
	}
}
@media screen and (max-width: 1440px){
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 35em;
	}
	.banner-dott1 {
		min-height: 550px;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		padding-top: 40px;
	}
}
@media screen and (max-width: 1366px){
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 32em;
	}
	section.portfolio-agileinfo .b-wrapper {
		padding: 1em 2em;
	}
	.banner-dott1 {
		min-height: 530px;
	}
}
@media screen and (max-width: 1280px){
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 29em;
	}
	.banner-dott1 {
		min-height: 485px;
	}
	.banner-text {
		padding: 10em 0 0em 0;
	}
}
@media screen and (max-width: 1080px){
	.banner-text h2 {
		font-size: 40px;
	}
	.bottomgridtext {
		padding-right: 70px;
		padding-bottom: 34px;
		padding-top: 0px;
	}
	.bottomleft {
		padding-bottom: 91px;
		padding-top: 20px;
	}
	.carousel-caption p {
		width: 100%;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 23em;
	}
	section.portfolio-agileinfo .b-wrapper {
		padding: 1em 1em;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		font-size: 30px;
		padding-top: 15px;
	}
	.heading h3 {
		font-size: 40px;
	}
	.mail-grid1, .agents, div#about, .banner-dott, .customer, .faq, .portfolio-agileinfo {
		padding: 50px 0;
	}
	.mail-agileits-w3layouts i {
		font-size: 25px;
		border-right: 2px solid #FFC107;
		padding: 0.4em .4em 0.4em 0em;
	}
	.contact-right {
		padding-left: 4em;
		float: none;
		padding-top: 8px;
	}
	.mail-grid1-form {
		padding: 2em;
		width: 37%;
	}
	.panel-title > a {
    line-height: 30px;
}
.donail_left {
    min-height: 397px;
}
.mwho-we-textmks {
    padding: 1em 0 5em 5em;
}
.pricing-grid {
    width: 22.4%;
}
.baner {
    min-height: 320px;
}
.view, .view .mask, .view .content {
    width: 204px;
    height: 204px;
}
}

@media screen and (max-width: 1024px){
	.banner-dott1 {
		min-height: 485px;
	}
}
@media screen and (max-width: 991px){
	.navbar-nav>li {
		margin-right: 10px;
	}
	.navbar-default .navbar-nav>li>a {
		letter-spacing: 1px;
		padding: 5px 5px;
		font-size: 14px;
	}
	.banner-text h2 {
		font-size: 31px;
	}
	.col-md-3.form-time-w3layouts, .form-date-w3-agileits, .form-left-agileits-w3layouts, .form-left-agileits-submit {
		width: 25%;
		float: left;
		padding: 5px;
	}
	.book-form form input[type="submit"] {
		padding: .7em 0em;
	}
	.text-center {
		width: 40%;
		float: left;
	}
	.col-md-8.text {
		width: 60%;
		float: left;
	}
	.bottomgridimg {
		padding: 0;
		width: 60%;
		float: none;
		margin: 0 auto;
	}
	.bottomgridtext {
		width: 50%;
		float: left;
	}
	.bottomleft,.bottomgridtext {
		padding: 31px;
	}
	.bottomgridtext h3 {
		margin: 0px 0 20px 0;
		font-size: 24px;
	}
	.services .col-md-4 {
		width: 33.33%;
		float: left;
		padding: 5px;
	}
	.grid1 {
		padding: 20px;
	}
	.grid1 h4 {
		font-size: 18px;;
	}
	.agentimg,.agentinfo {
		width: 50%;
		float: left;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 20em;
	}
	.portfolio-grids {
		width: 25%;
		float: left;
	}
	.heading p {
		width: 70%;
	}
	.heading h3 {
		font-size: 35px;
	}
	.carousel-caption p {
		letter-spacing: .5px;
		font-size: 13.5px;
	}
	.about-left {
		width: 33.33%;
		float: left;
	}
	.about-right {
		width: 66.66%;
		float: left;
	}
	.faq .panel-title {
		font-size: 1.1em;
	}
	.mail-agileits-w3layouts {
		width: 33.33%;
		float: left;
	}
	.contact-right {
		padding-left: 3.2em;
	}
	.services-top-grids {
		margin-bottom: 0px;
	}
	.faq .heading h3 {
		font-size: 35px;
	}
	.banner-dott1 {
		min-height: 442px;
	}
	.bottomgridtext {
		width: 100%;
		float: left;
	}
	.customer-grid p {
		padding: 2em 0.5em;
	}
	.panel-body {
		padding: 15px 20px;
	}
	.map iframe, iframe{
		min-height: 500px;
		height: 500px;
	}
	.text-center h3 {
		font-size: 35px;
	}
	.head-wl h1 a {
    letter-spacing: 2px;
}
.navbar-nav > li {
    width: 15.2%;
}
h6.caption {
    font-size: 18px;
    letter-spacing: 1px;
}
.email-right p a, .w3-header-top-right-text p, .agileinfo-social-grids ul li a {
    letter-spacing: 1px;
}
.mwho-we-textmks {
    padding: 1em 0 3em 1em;
}
.donail_right {
    float: left;
    width: 45%;
}
.donail_left {
    float: left;
    width: 55%;
	    min-height: 364px;
}
.pricing-grid {
    width: 45%;
}
.pricing-grid.grid-one,.pricing-grid.grid-two{
	margin-bottom:2em;
}
.footer_grid:nth-child(2){
	margin-bottom:2em;
}
.navbar-fixed-top {
    top: 90px;
}
.agile_team_grid {
    float: left;
    width: 50%;
	margin-bottom:2em;
}
.view, .view .mask, .view .content {
    width: 330px;
    height: 330px;
}
.w3layouts_gallery_grid1_pos h3 {
    margin: 8.5em 0 .5em;
}
}
@media screen and (max-width: 900px){
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 16em;
	}
	section.portfolio-agileinfo .b-wrapper h5 {
		padding: 5px 0;
	}
	section.portfolio-agileinfo .b-wrapper {
		padding: 1em 0em;
	}
}
@media screen and (max-width: 800px){
	.carousel-control .icon-next, .carousel-control .glyphicon-arrow-right {
		right: 1340%;
		top: 68%;
	}
	.carousel-control .icon-prev, .carousel-control .glyphicon-arrow-left {
		left: 400%;
		top: 68%;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 13em;
	}
	.mail-grid1-form {
		width: 46%;
	}
	.book-form {
		margin: 0em auto 0;
	}
	.banner-dott1 {
		min-height: 335px;
	}
	.client-img img {
		width: 160px;
		height: 160px;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		padding-top: 0px;
	}
}
@media screen and (max-width: 768px){
	.portfolio-grids {
		width: 50%;
		float: left;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		font-size: 40px;
		padding-top: 55px;
	}
	.mail-grid1, .agents, div#about, .banner-dott, .customer, .faq, .portfolio-agileinfo {
		padding: 40px 0;
	}
	.about-3 {
    padding: 3em 0;
}
.about1 h5 {
    font-size: 18px;
    line-height: 1.5em;
}
a.join-wthree {
    margin-top: 0px;
}
.wthree-mid {
    padding: 3em 0;
}
.wthree-mid h3 {
    font-size: 30px;
    letter-spacing: 0px;
}
.donails {
    padding: 3em 0 0;
}
.donail_left {
    min-height: 348px;
}
.wthree-pricing {
    padding: 3em 0;
}
.clients {
    padding: 3em 0;
}
.wthree-subscribef-w3ls {
    padding: 3em 0;
}
.footer_top_agileits {
    padding: 3em 0;
}
.baner {
    min-height: 290px;
}
.about-bottom.inner-padding {
    padding: 3em 0;
}
.team {
    padding: 3em 0 1em;
}
.agileits-about-top {
    padding: 3em 0 1em;
}
.banner-bottom.gallery {
    padding: 3em 0;
}
.banner-bottom {
    padding: 3em 0;
}
.w3_wthree_agileits_icons.main-grid-border {
    padding: 3em 0;
}
.typo {
    padding: 3em 0;
}
}
@media screen and (max-width: 767px){
	.head-wl h1 a {
    font-size: 43px;
    padding: 5px 0px 0px;
    
}
.navbar-toggle {background:#ff4f81;}
.icon-bar {background:white;}
.navbar-header{background:rgba(230, 102, 102, 0);}
.navbar-toggle {
margin-right: 28px;
}
.navbar-nav > li {
    margin: 0 auto;
    width: 16%;
}	
ul.nav.navbar-nav li a:hover {color:#f14156;
    border-bottom: 2px solid #fff;}
.navbar-toggle:hover {
	
    border-color: #f14156;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
   background:#f14156;
}
.navbar-toggle {
    background: #f14156;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background:rgb(0, 0, 0);
}
nav.navbar.navbar-default.navbar-fixed-top {
    background-color:rgb(255, 251, 251);
}
 .navbar-nav {
    padding: 10px 0 12px;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: inherit ! important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #f9f9f9;
}
.view, .view .mask, .view .content {
    width: 323px;
    height: 323px;
}
}
@media screen and (max-width: 667px){
	.banner-text h2 {
		font-size: 26px;
	}
	.services .col-md-4 {
		width: 50%;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 7em;
	}
	.client-img img {
		width: 150px;
		height: 150px;
	}
	.customer-grid p {
		padding: .5em;
	}
	.faq .panel-heading {
		padding: 20px 0 20px 20px;
	}
	.faq .panel-default span.glyphicon {
		margin-right: .5em;
	}
	.mail-agileits-w3layouts {
		width: 60%;
		float: none;
		margin: 0 auto 20px;
	}
	.mail-grid1-form {
		width: 55%;
	}
	.book-form form input[type="submit"] {
		font-size: 13.5px;
		font-weight:400;
	}
	.col-md-3.form-time-w3layouts, .form-date-w3-agileits, .form-left-agileits-w3layouts, .form-left-agileits-submit {
		padding: 1px;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		padding-top: 45px;
	}
	.footer_w3layouts_gridf_right {
    width: 100%;
    margin-top: 1em;
}
.pricing-grid {
    width: 44%;
}
.panel-title > a {
    font-size: 20px;
    line-height:21px;
}
.donail_left {
    min-height: 308px;
}
.w3-agile-logo {
    padding: 1em 0em;
}
.head-wl h1 a {
    font-size: 47px;
    letter-spacing: 0px;
}
.view, .view .mask, .view .content {
    width: 288px;
    height: 288px;
}
.w3layouts_gallery_grid1_pos h3 {
    margin: 7em 0 .5em;
}
}
@media screen and (max-width: 640px){
	.col-md-3.form-time-w3layouts, .form-date-w3-agileits, .form-left-agileits-w3layouts {
		width: 33.33%;
		float: left;
		padding: 2px;
	}
	.col-md-3.form-left-agileits-submit {
		width: 40%;
		margin: 0 auto;
		float: none;
	}
	.book-form form input[type="submit"] {
		margin: 0;
	}
	.about-left {
		width: 50%;
		float: none;
		margin: 0 auto;
	}
	.about-right {
		width: 100%;
		float: none;
		margin-top: 1em;
	}
	.d-flex {
    flex-direction: column-reverse;
}
.about2 {
    height: 300px;
    margin-bottom: 30px;
}
.heading-agileinfo {
    letter-spacing: 2px;
    font-size: 36px;
    margin-bottom: 2em;
}
.flex-active-slide p {
    width: 100%;
}
.view, .view .mask, .view .content {
    width: 273px;
    height: 273px;
}
.w3layouts_gallery_grid1_pos h3 {
    margin: 6em 0 .5em;
}
}
@media screen and (max-width: 600px){
	.text-center {
		width: 100%;
		float: none;
	}
	.text {
		width: 100%;
		text-align: center;
		float: none;
		padding: 10px 0;
	}
	.text p {
		font-size: 13.5px;
	}
	.agentimg, .agentinfo {
		width: 70%;
		margin: 0 auto 1em;
		text-align: center;
		float: none;
	}
	.carousel-control .icon-next, .carousel-control .glyphicon-arrow-right {
		right: 100%;
		top: 30%;
	}
	.carousel-control .icon-prev, .carousel-control .glyphicon-arrow-left {
		left: 100%;
		top: 30%;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 5em;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		font-size: 35px;
		padding-top: 30px;
	}
	.navbar-nav>li {
		width: 31%;
	}
	.client-img img {
		width: 100px;
		height: 100px;
	}
	.mail-agileits-w3layouts {
		width: 75%;
	}
	.banner-text h2 {
		font-size: 24px;
		letter-spacing: 1px;
		line-height: 30px;
	}
	.banner-text {
		padding: 8em 0 0em 0;
	}
	.email-right p a, .w3-header-top-right-text p, .agileinfo-social-grids ul li a {
    letter-spacing: 0px;
}
.view, .view .mask, .view .content {
    width: 254px;
    height: 254px;
}
.w3layouts_gallery_grid1_pos h3 {
    margin: 5em 0 .5em;
}
}
@media screen and (max-width: 568px){
	.col-md-3.form-time-w3layouts, .form-date-w3-agileits, .form-left-agileits-w3layouts {
		width: 33.33%;
		float: left;
		padding: 2px;
	}
	.col-md-3.form-left-agileits-submit {
		width: 40%;
		margin: 0 auto;
		float: none;
	}		
	.book-form form input[type="submit"]{
		margin:0;
	}
	.wthree-subscribef-w3ls h3.tittlef-agileits-w3layouts {
    font-size: 2.2em;
	}
	.view, .view .mask, .view .content {
    width: 238px;
    height: 238px;
}
.w3layouts_gallery_grid1_pos h3 {
    margin: 5em 0 .5em;
}
}
@media screen and (max-width: 480px){
	.bottomgridimg {
		width: 90%;
	}
	.bottomleft, .bottomgridtext {
		width: 90%;
	}
	.services .col-md-4 {
		width: 100%;
		float: none;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: 1em;
	}
	.portfolio-grids {
		width: 80%;
		float: none;
		margin: 0 auto;
	}
	.carousel-caption h3 {
		letter-spacing: 2px;
		font-size: 25px;
		margin-bottom: 8px;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		font-size: 35px;
		padding-top: 65px;
	}
	.book-form {
		padding: 2em 0em 2em;
	}
	.about-left {
		width: 80%;
		float: none;
		margin: 0 auto;
	}
	.mail-agileits-w3layouts {
		width: 100%;
	}
	.mail-grid1-form {
		width: 100%;
		position: static;
	}
	.map iframe,iframe {
		min-height: 300px;
		height: 300px;
	}
	.list {
    flex-direction: column;
    text-indent: 60px;
}
.pricing-grid {
    width: 42%;
}
.more a {
    padding: .5em 2em;
}
.head-wl {
	-webkit-flex-direction:column; /* Safari 6.1+ */
    flex-direction: column;
	margin-bottom:4em;
}
.w3-header-top-right-text, .email-right, .agileinfo-social-grids {
padding-top:13px;
}
.navbar-toggle {float:none;
     left:46%;
	 margin-right:0px;}
nav.navbar.navbar-default.navbar-fixed-top {
    background-color:rgba(0, 0, 0, 0);
}
ul.nav.navbar-nav li a {
    padding: 13px 0px;
}
.navbar-fixed-top {
    top: 293px;
}
.banner-text {
    padding: 5em 0 5em 0;
}
.donail_right {
    float: left;
    width: 100%;
}
.donail_left {
    float: left;
    width: 100%;
    min-height: 320px;
}
.view, .view .mask, .view .content {
    width: 195px;
    height: 195px;
}
.w3layouts_gallery_grid1_pos h3 {
    margin: 3em 0 .5em;
}
.left_form {
    float: left;
    width: 100%;
}
.right_form {
    float: left;
    width: 100%;
    margin-left: 0;
}
}
@media screen and (max-width: 414px){
	section.portfolio-agileinfo .nav-tabs > li > a {
		font-size: 15px;
		padding: 10px;
	}
	.mail-agileits-w3layouts {
		width: 100%;
	}
	.mail-grid1-form {
		width: 100%;
		position: static;
	}
	.map iframe,iframe {
		min-height: 300px;
		height: 300px;
	}
	.mail-grid1, .agents, div#about, .banner-dott, .customer, .faq, .portfolio-agileinfo {
		padding: 30px 0;
	}
	.text-center h3 {
		font-size: 35px;
	}
	.navbar-nav>li {
		width: 46%;
	}
	div#bs-example-navbar-collapse-1 {
		padding: 1em;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		font-size: 35px;
		padding-top: 50px;
	}
	.heading-agileinfo {
    font-size: 30px;
}
.pricing-grid {
    width: 100%;
}
.pricing-grid.grid-two {
    margin: 0 0em 2em;
}
.pricing-grid.grid-three {
    margin: 0 0em 2em 0;
}
.wthree-subscribef-w3ls h3.tittlef-agileits-w3layouts {
    font-size: 2em;
}
.about1 {
    padding-right: 0;
}
.wthree-mid p {
    width: 100%;
    font-size: 14px;
}
.wthree-mid h3 {
    font-size: 24px;
}
.agile_team_grid {
    float: left;
    width: 100%;
    margin-bottom: 2em;
}
.view, .view .mask, .view .content {
    width: 352px;
    height: 352px;
}
.w3layouts_gallery_grid1_pos h3 {
    margin: 2em 0 .5em;
}
}
@media screen and (max-width: 384px){
	.bottomgridimg,.bottomleft, .bottomgridtext {
		width: 100%;
	}
	.carousel-control .icon-next, .carousel-control .glyphicon-arrow-right {
		right: 210%;
		top: 30%;
	}
	.agentimg, .agentinfo {
		width: 82%;
	}
	section.portfolio-agileinfo .nav-tabs > li {
		margin: 3px;
	}
	.portfolio-grids {
		width: 90%;
	}
	.panel-body {
		padding: 15px 30px;
	}
	.navbar-nav>li {
		width: 50%;
	}
	.about-top {
		margin-bottom: 10px;
	}
	.contact-right p {
		font-size: 16px;
	}
	.mail-agileits-w3layouts i {
		font-size: 20px;
	}
	.col-md-3.form-time-w3layouts, .form-date-w3-agileits, .form-left-agileits-w3layouts {
		width: 50%;
	}
	.col-md-3.form-left-agileits-submit {
		width: 50%;
		margin: 2em auto;
		float: left;
		font-size: 17px;
	}
	.banner-text h2 {
    font-size: 21px;
}
.heading-agileinfo span {
    font-size: 15px!important;
}
.view, .view .mask, .view .content {
    width: 324px;
    height: 324px;
}
.w3layouts_gallery_grid1_pos h3 {
    margin: 1.5em 0 .5em;
}
}
@media screen and (max-width: 375px){
	.carousel-caption h3 {
		letter-spacing: 1px;
		font-size: 22px;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: .3em;
	}
	.portfolio-grids {
		width: 100%;
	}
	.view, .view .mask, .view .content {
    width: 313px;
    height: 313px;
}
}
@media screen and (max-width: 320px){
	.text-center h3 {
		font-size: 30px;
	}
	.navbar-header h1 a {
		font-size: 1em;
	}
	.bottomgridtext h3 {
		margin: 0px 0 10px 0;
		font-size: 20px;
	}
	.heading p {
		width: 85%;
		margin-bottom: 10px;
	}
	section.portfolio-agileinfo .nav-tabs > li {
		margin: 1px;
	}
	section.portfolio-agileinfo .nav-tabs > li > a {
		font-size: 14px;
		padding: 10px 8px;
	}
	section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
		margin-left: .1em;
	}
	.faq .panel-title {
		line-height: 1.8em;
	}
	.col-md-3.form-time-w3layouts, .form-date-w3-agileits, .form-left-agileits-w3layouts {
		width: 100%;
		float: none;
		padding: 0px 10px;
	}
	.banner-text {
		padding: 2em 0 0em 0;
	}
	.book-form label {
		font-size: 14px;
		margin-bottom: 4px;
		letter-spacing: 1px;
	}
	.col-md-3.form-left-agileits-submit {
		width: 60%;
	}
	.nbs-flexisel-item {
		width:300px !important;
		margin:0 auto !important;
		margin-left:90px !important;
	}
	ul.nav.navbar-nav {
		margin: 11px 0;
	}
	.navbar-nav>li {
		width: 65%;
	}
	.agentinfo {
		width: 100%;
	}
	.col-md-3.form-left-agileits-submit {
		width: 93%;
		margin-top: 1em;
		margin-left: 10px;
	}
	.agileits-w3layouts-copyright p {
		font-size: .875em;
	}
	section.portfolio-agileinfo i.fa.fa-search-plus {
		padding-top: 40px;
	}
	.list {
    flex-direction: column;
    text-indent: 40px;
}
.head-wl h1 a {
    font-size: 40px;
}
.banner-text h2 {
    font-size: 17px;
    letter-spacing: 0px;
}
.banner-text {
    padding: 1em 0 0em 0;
}
.w3-header-top-right-text, .email-right, .agileinfo-social-grids {
    padding-top: 6px;
}
.navbar-fixed-top {
    top: 263px;
}
.heading-agileinfo span {
    letter-spacing: 1px;
}
.about-3 {
    padding: 2.5em 0;
}
.heading-agileinfo {
    margin-bottom: 1.8em;
}
a.join-wthree {
    font-size: 15px;
    padding: 9px 27px;
}
.donails {
    padding: 2.5em 0 0;
}
.donail_left {
    min-height: 223px;
}
.clients {
    padding: 2.5em 0;
}
.wthree-subscribef-w3ls h3.tittlef-agileits-w3layouts {
    font-size: 1.8em;
}
.footer_top_agileits {
    padding: 2.5em 0;
}
.view, .view .mask, .view .content {
    width: 258px;
    height: 258px;
}
.about-bottom.inner-padding {
    padding: 2.5em 0;
}
.team {
    padding: 2.5em 0 0.5em;
}
.agileits-about-top {
    padding: 2.5em 0 .5em;
}
.banner-bottom.gallery {
    padding: 2.5em 0;
}
.w3layouts_gallery_grid1_pos h3 {
    margin: .5em 0 .5em;
}
.w3layouts_gallery_grid1_pos p {
    line-height: 0em;
}
.banner-bottom {
    padding: 2.5em 0;
}
.w3_wthree_agileits_icons.main-grid-border {
    padding: 2.5em 0;
}
.typo {
    padding: 2.5em 0;
}
}

/* //Responsive design */

.product-info {
    padding: 25px 10px;
}